.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/uiDesigner.xml
/javadoc/legal/ADDITIONAL_LICENSE_INFO
/javadoc/allclasses-index.html
/javadoc/allpackages-index.html
/javadoc/legal/ASSEMBLY_EXCEPTION
/javadoc/at/tarnoczi/controller/Controller.html
/javadoc/copy.svg
/javadoc/element-list
/javadoc/at/tarnoczi/view/Frame.html
/javadoc/resources/glass.png
/javadoc/help-doc.html
/javadoc/index.html
/javadoc/index-files/index-1.html
/javadoc/index-files/index-2.html
/javadoc/index-files/index-3.html
/javadoc/index-files/index-4.html
/javadoc/index-files/index-5.html
/javadoc/index-files/index-6.html
/javadoc/index-files/index-7.html
/javadoc/index-files/index-8.html
/javadoc/index-files/index-9.html
/javadoc/index-files/index-10.html
/javadoc/index-files/index-11.html
/javadoc/index-files/index-12.html
/javadoc/legal/jquery.md
/javadoc/script-dir/jquery-3.6.0.min.js
/javadoc/script-dir/jquery-ui.min.css
/javadoc/script-dir/jquery-ui.min.js
/javadoc/jquery-ui.overrides.css
/javadoc/legal/jqueryUI.md
/javadoc/at/tarnoczi/model/JSONStorage.html
/javadoc/legal/LICENSE
/javadoc/member-search-index.js
/javadoc/module-search-index.js
/javadoc/overview-summary.html
/javadoc/overview-tree.html
/javadoc/package-search-index.js
/javadoc/at/tarnoczi/controller/package-summary.html
/javadoc/at/tarnoczi/model/package-summary.html
/javadoc/at/tarnoczi/view/package-summary.html
/javadoc/package-summary.html
/javadoc/at/tarnoczi/controller/package-tree.html
/javadoc/at/tarnoczi/model/package-tree.html
/javadoc/at/tarnoczi/view/package-tree.html
/javadoc/package-tree.html
/javadoc/at/tarnoczi/view/Panel.html
/javadoc/script.js
/javadoc/search.html
/javadoc/search.js
/javadoc/search-page.js
/javadoc/serialized-form.html
/javadoc/StorageTest.html
/javadoc/at/tarnoczi/model/StrategyStorage.html
/javadoc/stylesheet.css
/javadoc/tag-search-index.js
/javadoc/type-search-index.js
/javadoc/at/tarnoczi/model/Word.html
/javadoc/WordTests.html
/javadoc/at/tarnoczi/model/WordTrainer.html
/javadoc/WordTrainerTests.html
/javadoc/resources/x.png
